.banner {
    height: calc(100vh - 62.375px);
}

.banner-text {
    max-width: 550px;
    padding: 1rem 0rem;
    color: #504F60;
}

.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.banner-button {
    margin: 1rem 0rem;
    width: 334px;
    color: #504F60; 
}

.banner-button:hover {
    color: #fff;
    background-color:  #1798C1;
    border-color: #1798C1;
}